set timeout=60
set gfxmode=1024x768
terminal_output gfxterm

menuentry 'OPENTHOS Live' --class android-x86 {
	search --file --no-floppy --set=root /OpenThos/system.sfs
	linuxefi /OpenThos/kernel CMDLINE BOOT_MODE=liveboot
	initrdefi /OpenThos/initrd.img
}

menuentry 'OPENTHOS Live DEBUG mode' --class android-x86 {
	search --file --no-floppy --set=root /OpenThos/system.sfs
	linuxefi /OpenThos/kernel CMDLINE DEBUG=2 BOOT_MODE=liveboot
	initrdefi /OpenThos/initrd.img
}

#menuentry 'OPENTHOS Install-Upgrade' --class android-x86 {
#	search --file --no-floppy --set=root /system.sfs
#	linuxefi /kernel CMDLINE DEBUG= INSTALL=1
#	initrdefi /initrd.img
#}

menuentry 'OTO install without extract' --class android-x86 {
	search --file --no-floppy --set=root /OpenThos/system.sfs
	linuxefi /OpenThos/kernel CMDLINE INST_MODE=hdimg BOOT_MODE=install
	initrdefi /OpenThos/initrd.img
}

menuentry 'OTO install with extract' --class android-x86 {
	search --file --no-floppy --set=root /OpenThos/system.sfs
	linuxefi /OpenThos/kernel CMDLINE BOOT_MODE=install
	initrdefi /OpenThos/initrd.img
}

menuentry 'Windows' {
	search --file --no-floppy --set=root /EFI/Microsoft/Boot/bootmgfw.efi
	chainloader (${root})/EFI/Microsoft/Boot/bootmgfw.efi
}

